X11.buildinfo
autom4te.cache
config.log
config.mk
config.status
configure
include/HsX11Config.h
include/HsX11Config.h.in
include/X11_extras_config.h
/include/HsX11Config.h.in~
/cabal.project.local
/dist-newstyle/
/dist/
